*{
    margin: 5px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior: smooth;
}

.container {
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: table;
}

.nav{
    background-color: rgb(0, 0, 0);
    height: 45px;
}

.nav-lista {
    display: flex;
}

.nav-item {
    list-style: none;
    margin-right: 15px;
    margin-left: 20px;
    line-height: 45px;
}

.link-item{
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header{
    height: 150px;
    background-color: rgb(231, 42, 42);
    text-align: center;
    /*line-height: 150px;*/
    color: rgb(0, 0, 0);
}

.footer {
    height: 150px;
    background-color: rgb(231, 42, 42);
    color:rgb(0, 0, 0);
    text-align: center;
    padding-top: 2%;
    margin-left: 50px;
    margin-right: 50px;
}

.quienes-somos {
    display: table;
    height: 150px;
    background-color: rgb(255, 255, 255);
    color: black;
    text-align: center;
    padding-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.servicios{
    display: table;
    height: 150px;
    background-color: rgb(231, 42, 42);
    text-align: center;
    padding-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.contactanos{
    display: table;
    height: 150px;
    background-color: rgb(231, 42, 42);
    text-align: center;
    padding-top: 10px;
    margin-left: 190px;
    margin-right: 50px;
}

.contactos {
    display: table;
    height: 150px;
    background-color: rgb(217, 255, 127);
    text-align: center;
    padding-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
}
.forma-contacto input,
.forma-contacto textarea{ 
    display: block;
    border: none;
    outline: none;
    background: #ffffff;
    padding: 10px;
    font-size: 0.9rem;
    color: rgb(0, 0, 0);
    border-radius: 0.4em;
    margin-left: 300px;
    margin-right: 300px;
}

.forma-contacto {
    display: grid;
}



.arriba{
    width: 50px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 50px;
    border-radius: 100%;
    z-index: 99;
    position: fixed;
    right: 5px;
    bottom: 30px;
}


.facebook{
    width: 50px;
    height: 50px;
    background-color: rgb(8, 0, 119);
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 63px;
    border-radius: 100%;
    z-index: 99;
    position: fixed;
    left: 5px;
    bottom: 30px;
}

.twitter{
    width: 50px;
    height: 50px;
    background-color: rgb(0, 162, 255);
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 63px;
    border-radius: 100%;
    z-index: 99;
    position: fixed;
    left: 5px;
    bottom: 100px;
}

.instagram{
    width: 50px;
    height: 50px;
    background-color: rgb(255, 0, 212);
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 63px;
    border-radius: 100%;
    z-index: 99;
    position: fixed;
    left: 5px;
    bottom: 170px;
}

.Linkedin{
    width: 50px;
    height: 50px;
    background-color: rgb(25, 0, 255);
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 63px;
    border-radius: 100%;
    z-index: 99;
    position: fixed;
    left: 5px;
    bottom: 240px;
}

.fecha, .facebook, .twitter, .instagram {
    text-decoration: none;
    color: white;
}

p {
    text-align: justify;
}
